.main_compo_card{
    margin-top: 25px;
}

.clock_logo{
    margin-right: 5px;
}

.render_card{
    background-color: #293C5A;
    border: 2px solid #0A192F;
}
.render_card:hover{
    border: 2px solid #49dbf5;
}

.end_of_card{
    margin-bottom: 0;
    margin-top: 15px !important;
}

.heading_and_button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #CCD6F6 !important;
}

.Student_blog{
    margin-bottom: 20px;
    background: #0A192F;
    border-radius: 17px
}
.block {
    padding: 33px;
}

.for_tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.render_tag{
    font-size: smaller;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid greenyellow;
    border-radius: 20px;
}

.head_logo{
    margin-left: 25px;
}

@media(max-width: 295px){
    .head_logo{
        margin-left: 5px;
    }
}

@media(max-width: 760px)
{
    .heading_and_button{
        display: inline-block;
    }
    .heading{
        display: flex;
        justify-content: center;
    }
}