.main_compo_card{
    margin-top: 25px;
}

.clock_logo{
    margin-right: 5px;
}

.heading_and_button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.Linked_blog{
    margin-top: 80px;
    background: #E5E5E5;
    border-radius: 35px;
  
}
.block {
    padding: 55px;
}
@media(max-width: 760px)
{
    .heading_and_button{
        display: inline-block;
    }
    .heading{
        display: flex;
        justify-content: center;
    }
}