.for_tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #293C5A;
}
.render_tag{
    color:white;
    font-size: smaller;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}
.bar-style{
    background-color: #3C3D45;
}
