.for_tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
.render_tag{
    color:white;
    font-size: smaller;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid greenyellow;
    border-radius: 20px;
}
.bar-style{
    background-color: #3C3D45;
}

.dropdown_item{
    background-color: #3C3D45;
    color: aliceblue;
}