.land_div{
    width: 100%;
    height: 280px;
}

.text_land{
    text-align: center;
    margin-top: auto;
    padding-top: 110px;
}
.small_text{
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
}

.button_block{
    margin-top: 50px;
}

.left_button{
    margin-right: 30px;
}

.right_button{
    margin-left: 30px;
}

@media(max-width: 365px){
    .button_block{
        margin-top: 0;
    }
}

@media(max-width: 568px){
    .button_block{
        margin-top: 30px
    }
    .text_land{
        padding-top: 70px;
    }
}

@media(max-width:297px){
    .text_land{
        padding-top: 0 ;
    }
    .left_button{
        margin-right: 0;
    }
    
    .right_button{
        margin-left: 0;
    }
    
}