.land_div {
    width: 100%;
    height: 280px;
}

.text_land {
    text-align: center;
    margin-top: auto;

    color: #fff;
    padding: 8%;
    border-bottom: solid white;
    margin: 0 4% 3% 4%;
}

.text_land h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    font-size: 500%;
    font-weight: 100;
}

.text_land p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(204, 214, 246);
}

@media(max-width: 700px) {
    .text_land h1 {
        font-size: 300%;
    }

    .text_land p {
        font-size: large;
    }
}

@media(max-width: 568px) {

    .text_land {
        padding-top: 50px;
    }
}

@media(max-width:336px) {
    .text_land {
        padding-top: 0;
    }

    .text_land h1 {
        font-size: xx-large;
    }

    .text_land p {
        font-size: medium;
    }
}