.main_compo_card{
    margin-top: 25px;
}

.clock_logo{
    margin-right: 5px;
}

.render_card_student{
    background-color: #293C5A;
    border: 2px solid #0A192F;
}
.render_card_student:hover{
    border: 2px solid #64FFDA;
}

.heading_and_button_student{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #CCD6F6 !important;
}

.Student_blog{
    margin-bottom: 20px;
    background: #0A192F;
    border-radius: 17px
}
.whole_student{
    display: flex;
}
.upvote_downvote_student{
    margin-right: 14px;
    margin-top: -8px;
}
.downvote{
    margin-bottom: 22px;
    margin-left: -5px !important;
}
.downvote:hover{
    filter: brightness(2);
    transform: scale(1.5);
}
.Upvote{
    margin-right: 10px !important;
    margin-left: -6px !important;
}
.Upvote:hover{
    filter: brightness(2);
    transform: scale(1.5);
}
.block {
    padding: 33px;
}

.end_of_card_student{
    margin-bottom: -5px;
}

.for_tags_student{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
.render_tag_student{
    font-size: smaller;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

.head_logo_student{
    margin-left: 25px;
}

@media(max-width: 295px){
    .head_logo_student{
        margin-left: 5px;
    }
}

@media(max-width: 760px)
{
    .heading_and_button_student{
        display: inline-block;
    }
    .heading_student{
        display: flex;
        justify-content: center;
    }
}