.outer_div{
    background-image: url(mountains\ for\ footer.jpg);
    width: 100%;
    display: flex;
    margin-bottom: -9px;
    color: #ffffff;
}

.text_left_div_in{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 15px;
}

.left_div{
    margin: 2% 0;
    padding: 4%;
    width: 70%;
    border-right: 3px solid #ffffff;
}

.right_div{
    width: 100%;
    margin: 2% 0;
}

.right_div_in{
    padding: 4% 0 ;
    margin-left: 10%;
    height: 100%;
}

.rd_text{
    font-size: 35px;
    margin: 0;
}

@media (max-width: 775px){
    .outer_div{
        display: inline-block;
        width: 100%;
    }
    .text_left_div_in{
        text-align: center;
    }
    .left_div{
        border-right: 0;
        margin-right:0 2%;
        margin: 1%;
        border-bottom: 2px solid #ffffff;
        width:98%;
    }
    .rd_text{
        text-align: center;
    }

    .right_div_in{
        text-align: center;
    }
}