.for_img{
    height: 452px;
  }
  
  .main_div{
    display: flex;
  }
  
  .goggle_button{
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .txt_policy_conditions{
    font-size: smaller;
  }
  
  .form_css{
    margin-left: 8%;
    margin-right: 5%;
  }
  
  @media (max-width: 992px){
    .disappear{
      display: none;
    }
  }
  @media (max-width: 520px){
    .form_css{
      margin-left: 0%;
      margin-right: 0%;
    }
  }
